name : Terraform actions

env: 
  working-directry : ./ec2/example
  Message: Spoorti satenahalli

on:

  push:
  
    branches: ["main", "master"]
  pull_request:
    branches: ["main" , "master"]

  workflow_dispatch:

jobs:

  terraform:
    name: 'terraform fmt'
    runs-on : ubuntu-latest
    
    env:
      AWS_ACCESS_KEY_ID : ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_KEY_ACCESS : ${{secrets.AWS_SECRET_KEY_ACCESS}}
      AWS_SESSION_TOKEN : ${{secrets.AWS_SESSION_TOKEN}}
      

    steps:

      - name: checkout
        uses: actions/checkout@v3

      - name: setu 
        uses: hashicorp/setup-terraform@v2
        with :
          terraform_version: 1.1.7

      - name: Inatilize
        id: init
        run : terraform init
        working-directory: ${{env.working-directry}}

      - name: Format
        id: fmt
        run: terraform fmt
        working-directory: ${{env.working-directry}}

         
      - name: Validate
        id: validate
        run: terraform validate
        working-directory: ${{env.working-directry}}

         
      - name: plan
        id: plan
        run: terraform plan
        working-directory: ${{env.working-directry}}

         
      - name: Apply
        run: terraform apply -auto-approve
        working-directory: ${{env.working-directry}}